*{
	padding:0;
	margin:0;
	}
li{list-style:none;}
body{
	background:#99b3ff;
	}
header{
	height:80px;
	line-height:80px;
	text-align:center;
	font-size:24px;
	}
footer{
	height:30px;
	line-height:30px;
	text-align:center;
	}
#content{
	width:900px;
	height:500px;
	margin:0 auto;
	background:#444422;
	padding:5px;
	}
#toolbar{
	height:150px;
	background:#c2c2a3;
	}
#draw{
	margin-top:5px;
	}
#toolbar>ul >li{
	
	height:150px;
	width:179px;
	float:left;
	border-right:1px solid #ccc;
	}
#toolbar h3{
	text-align:center;
	}
#toolbar hr{
	color:#ccc;
	}
.drawbar{
	width:126px;
	margin:20px auto;
	}
.drawbar img{
	width:22px;
	height:20px;
	}
.drawbar li{
	float:left;
	width:40px;
	text-align:center;
	border:1px solid #000;
	height:20px;
	}
.thin img{
	width:116px;
	height:20px;
	}
.thin li{
	height:18px;
	margin:10px auto;
	text-align:center;
	border:1px solid #000;
	overflow:hidden;
	}
.color {
	padding:15px;
}
.color li{
	height:24px;
	border:1px solid #000;
	width:24px;
	margin-right:2px;
	float:left;
}
#clear{
	margin:40px;
}
